# Python virtual environment
BaseModel/venv/
BaseModel/Model/venv/
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
BaseModel/.ipynb_checkpoints/


/Secondaryscripts/

.env
/scripts/
# database/
# BaseModel/database/


# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# OS files
.DS_Store
Thumbs.db
