# Python virtual environment
BaseModel/facnenv/
facnenv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
BaseModel/.ipynb_checkpoints/


# database/
# BaseModel/database/


# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# OS files
.DS_Store
Thumbs.db
